#mytable{
    background-color: #212128;
    color: white;
    text-align: center;
    width: 900px;
    margin-top: 265px;
    margin-left: 20%;
}
body{
    background-image: url("../image/background.jpg");
    display: flex;
    flex-wrap: wrap;
}

body .dropright {
    margin-left: 15px;
    margin-right: 15px;
}
 #mytable th,td  {
    text-align: center;
}
body .file-upload-button {
    padding: 4px 8px;
    margin-left: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 40px;
    height: 40px;
}
.image {
    width: 20px;
    height: 20px;
}